@import "../variable";

* {
   margin: 0;
   padding: 0;
   border: 0;
   font-family: 'Roboto', sans-serif;
   box-sizing: border-box;
   user-select: none;
}


html {
   font-size: 62.5%;
   height: 100%;
}

body {
   font-size: 1.6rem;
   height: 100%;

   &::-webkit-scrollbar {
      display: none;
   }
}

ul {
   list-style: none;
}

input {
   border: none;
   outline: none;
}

.anticon {
   font-size: 20px;
   padding: 0 16px;
   color: $color-text;
   transition: all ease-in 0.1s;
}

a {
   text-decoration: none;
}

.anticon:hover {
   cursor: pointer;
   color: $primary;
}

.chart {
   font-family: 'Roboto', sans-serif !important;
}